@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ========= Colors ========= */

:root {
    --defaultbackground: #000;
    --white: #fff;
    --border: rgb(204, 204, 204);
    --hover: #d90eac;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/*Top Header*/
.carousel {
    width: 100%;
    margin: 0px;
    background: var(--defaultbackground);
}

.carousel-inner {
    height: 50px;
}

.carousel-indicators {
    position: absolute;
    top: 40px;
    left: 30%;
    z-index: 2;
    padding-bottom: 2px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-caption {
    position: absolute;
    top: 0%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.carousel-caption p {
    font-size: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
    margin: 0;
}

.carousel-caption p a {
    color: var(--white);
}

.carousel-item {
    background: transparent;
    height: 100%;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    background: transparent;
    opacity: .7;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media only screen and (max-width: 768px) {
    .carousel-inner {
        height: 70px;
    }
    .carousel-caption p {
        font-size: 11px;
        display: block;
        padding: 15px 0;
        word-wrap: break-word;
        margin-top: 10px;
    }
    .carousel-indicators {
        display: block;
    }
    .carousel-caption {
        padding: 0 10px;
    }
    button.carousel-control-prev, 
    button.carousel-control-next {
        display: none;
    }
}

@media only screen and (max-width: 401px) {
    .carousel-indicators [data-bs-target] {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }   
    .carousel-caption p {
        font-size: 10px;
        margin-top: 6px;
    }
    .carousel-indicators {
        top: 45px;
    }
}

/* Customization Section */
.center-header {
    width: 100%;
    display: flex;
    padding: 17px 30px;
    align-items: center;
    justify-content: space-around;
    color: var(--defaultbackground);
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 30%);
}


select {
    min-width: 120px;
}

select:focus {
    outline: none;
}

@media only screen and (max-width: 440px) {
    .center-header {
        flex-direction: column;
    }
    .theme,
    .cfont-family,
    .cfont-size {
        width: 80%;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }
    select {
        overflow: hidden;
        min-width: 160px;
    }
}

/* Trial Section*/
.fontsize-content {
    width: 80%;
    padding: 20px 30px;
    margin: 10px auto;
    border: 1px dotted var(--defaultbackground);
    text-align: justify;
}

/* Central Header */
.Central-header {
    background: var(--white);
    padding: 5px 0;
    border-bottom: 1px solid var(--border);
}

.central-wrapper {
    height: 19px;
    padding: 0 20px;
    display: flex;
}

.central-wrapper-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.central-wrapper-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.central-wrapper-right a {
    margin: 0 5px;
    color: var(--defaultbackground);
}

.central-wrapper-right a:hover {
    color: var(--hover);
}

.central-wrapper-right img {
    width: 15px;
    height: 15px;
}

.central-wrapper-right .countryname {
    padding-left: 5px;
}
@media only screen and (max-width: 1020px){
    .Central-header {
        display: none;
    }
}




/* Footer Section */
.sigup-section {
    padding: 40px 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    color: var(--defaultbackground);
}
.container-signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
}
.container-signup-section a {
    display: flex;
}
.sigup-section-link {
    color: #000;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
}
.sigup-section-link i {
    padding-right: 5px;
}
.message-seperator {
    padding: 0 10px;
    color: rgba(128, 128, 128, 0.507);
}
.sigup-section-ship {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.sigup-section-links {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.sigup-section-links p {
    margin-left: 5px;
    margin-bottom: 0;
}
.sigup-section-links a {
    font-size: 12px;
    color: var(--defaultbackground);
    text-decoration: underline;
}
.main-footer {
    padding: 40px 20px 10px 20px;
    border: 1px solid #ccc;
}
.main-footer .title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
#accordionFlushExample {
    display: none;
}
.main-footer .desc li {
    list-style: none;
    padding-bottom: 0.5rem;
}
.main-footer .desc a {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--defaultbackground);
}
.footer-links h3, .social-icons {
    font-size: 14px;
    font-weight: 600;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.social-icons a {
    font-size: 12px;
    padding-left: 2px;
    color: var(--white);
}
.social-icons a i {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--defaultbackground);
}
@media only screen and (max-width: 767px) {
    #accordionFlushExample {
        display: block;
    }
    .container-signup-section {
        display: block;
    }
    .container-signup-section a {
        display: block;
    }
    .main-footer .title {
        padding-left: 0;
        padding-bottom: 0;
    }
    .main-footer ul {
        padding-left: 0;
    }
    .sigup-section-links {
        display: block;
    }
    .accordion-button::after {
        content: ' \002B';
        background-image: none;
        font-size: 16px;
        font-weight: 800;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: none;
        transform: rotate(-180deg);
    }
    .main-footer-hidden {
        display: none;
    }
    .footer-links {
        padding-top: 20px;
    }
    .sub-footer-copyright {
        display: block !important;
    }
}
.sub-footer {
    padding: 15px 0px 0px 0;
}
.sub-footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.sub-footer-links li {
    padding: 0 8px;
    margin: 5px 0;
    border-right: 1px solid #ccc;
    line-height: normal;
    flex-shrink: 0;
}
.sub-footer-links li a {
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: var(--defaultbackground);
}
.sub-footer-links li a img {
    height: 15px;
    margin-right: 5px;
}
.sub-footer-copyright {
    font-size: 12px;
    margin: 5px 0 15px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.sub-footer-copyright a {
    color: var(--defaultbackground);
}
.bonus-section {
    text-align: center;
    padding-bottom: 30px;
}
.footer-bottom {
    height: 40px;
    background-color: #f8f8f8;
}
.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 85px;
    right: 15px;
    z-index: 5;
    width: 50px;
    height: 50px;
    background: #000;
    transition: opacity .7s;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
}
.back-to-top-arrow {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cpath fill='%23fff' d='M19.738 14.44l-8.787-8.787c-.119-.119-.28-.185-.452-.185s-.332.065-.451.185L1.261 14.44a.59.59 0 00-.141.664.689.689 0 00.613.427.605.605 0 00.431-.188L10.5 7.008l8.336 8.335a.603.603 0 00.431.188.686.686 0 00.612-.427.584.584 0 00-.141-.664z'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    height: 20px;
    margin: 10px 0 20px;
}